* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Proxima Nova", Verdana, Geneva, Tahoma, sans-serif;
}

#altra-logo {
  width: 250px;
  height: 90px;
  display: block;
}

nav {
  display: flex;
}

nav li {
  list-style: none;
}

.nav-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-icons {
  height: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.nav-icons i {
  font-size: 18px;
  padding-right: 20px;
  color: #444444;
}

.nav-icons i:hover {
  cursor: pointer;
  color: #eb0a27;
}

.cart-icon:hover {
  cursor: pointer;
  color: #eb0a27;
}

.cart-icon {
  position: relative;
  padding-right: 25px;
}

.nav-icons li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #444444;
  position: absolute;
  left: 25px;
}

.nav-icons li a:hover {
  text-decoration: underline;
  color: #eb0a27;
}

.cart-quantity {
  background-color: #eb0a27;
  color: white;
  border: none;
  font-size: 13px;
  padding: 6px 10px;
  border-radius: 50%;
}

.cart-quantity:hover {
  cursor: pointer;
}

.nav-row-2 {
  display: flex;
  height: 45px;
  position: relative;
}

.nav-links li {
  text-transform: uppercase;
  font-weight: 600;
}

.search {
  border: 1px solid #444444;
  opacity: 0.4;
  height: 40px;
  width: 175px;
  position: absolute;
  right: 10px;
}

.search input {
  border: none;
}

.search input::placeholder {
  color: #444444;
  font-size: 14px;
  padding-left: 10px;
}

.search button {
  background-color: transparent;
  color: black;
  font-size: 18px;
  opacity: 1;
  border: none;
  height: 100%;
  margin-right: 10px;
}

.promotion {
  background-color: black;
  color: white;
  padding: 10px 0;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}
