* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.promotion {
  background-color: black;
  color: white;
  padding: 10px 0;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}
