* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-red-color: #dd0007;
  --secondary-red-color: #ed1c24;
  --primary-gray-color: #444444;
  --secondary-gray-color: #F0F0F0;
}

html {
  font-family: "Proxima Nova", Verdana, Geneva, Tahoma, sans-serif;
}

#altra-logo {
  width: 250px;
  height: 90px;
  display: block;
}

nav {
  display: flex;
}

nav li {
  list-style: none;
}

.nav-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-icons {
  height: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.nav-icons i {
  font-size: 18px;
  padding-right: 20px;
  color: var(--primary-gray-color);
}

.nav-icons i:hover {
  cursor: pointer;
  color: var(--primary-red-color);
}

.cart-icon:hover {
  cursor: pointer;
  color: var(--primary-red-color);
}

.cart-icon {
  position: relative;
  padding-right: 25px;
}

.nav-icons li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: var(--primary-gray-color);
  position: absolute;
  left: 25px;
}

.nav-icons li a:hover {
  text-decoration: underline;
  color: var(--primary-red-color);
}

.cart-quantity {
  background-color: var(--primary-red-color);
  color: white;
  border: none;
  font-size: 13px;
  padding: 6px 10px;
  border-radius: 50%;
}

.cart-quantity:hover {
  cursor: pointer;
}

.nav-row-2 {
  display: flex;
  height: 45px;
  position: relative;
}

.nav-links {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: -15px;
  margin-top: 8px;
}

.nav-links li {
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.nav-links li hr {
  border: 1.5px solid var(--primary-red-color);
  margin-top: 1px;
  opacity: 0;
}

.uppercase:hover > hr {
  opacity: 1;
}

.gray hr {
  border: 1.5px solid var(--primary-gray-color);
  margin-top: 1px;
  opacity: 0;
}

.gray:hover hr {
  opacity: 1;
  border: 1.5px solid var(--primary-gray-color);
}

.uppercase {
  text-transform: uppercase;
}

.search {
  border: 1px solid var(--primary-gray-color);
  opacity: 0.4;
  height: 40px;
  width: 175px;
  position: absolute;
  right: 10px;
}

.search input {
  border: none;
}

.search input::placeholder {
  color: var(--[--primary-gray-color]);
  font-size: 14px;
  padding-left: 10px;
}

.search button {
  background-color: transparent;
  color: black;
  font-size: 18px;
  opacity: 1;
  border: none;
  height: 100%;
  margin-right: 10px;
}

.promotion {
  background-color: black;
  color: white;
  padding: 11px 0;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

.about-container {
  text-align: center;
  position: relative;
}

.about-container img {
  height: 250px;
  width: 100vw;
}

/*TODO: add text above the button*/

.about-container a {
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8em;
  position: absolute;
  left: 37vw;
  top: 100px;
}

.red-btn {
  background-color: var(--secondary-red-color);
  padding: 12px 20px;
  color: white;
}

.about-container .red-btn:hover {
  background-color: var(--primary-red-color);
}

.footer-container {
  background-color: var(--secondary-gray-color)
  height: 40vh;
}

.footer-action {
  height: 30vh;
}

.legal-info-container {
  width: 50vw;
  margin-bottom: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.legal-info-image {
  width: 130px;
  padding-left: 10px;
}

.legal-info-container a {
  font-size: 9px;
  color: var(--primary-red-color);
  text-decoration: none;
}